.orderWrapper{
  padding:40px;
  /* background-color: var(--light-main); */
  border-radius: var(--radius-image);
  margin:50px auto;
  min-height: 60vh;
}
.orderFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main);
}
.orderFooter p{
  padding:5px 0px 0px 0px;
  margin: 0px;
}
.productInfoModel{
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 20px 0px;
  gap: 30px;
}

.productInfoModel img{
  width: 100%;
  cursor: pointer;
}