.faqItem {
    margin: 10px auto;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.3s ease;
    text-align: left;
    color: white;
    transition: 0.3s;
}

.question {
    display: flex;
    background-color: white;
    /* color: #00abd6; */
    align-items: center;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 49rem;
    box-shadow: 0 0.125rem 0.25rem #00000020;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question:hover {
    background-color: #1a4e8a;
}

.questionText {
    flex-grow: 1;
    font-weight: bold;
}

.arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.arrowUp {
    transform: rotate(360deg);
}

.answer {
    /* background-color: #dbe9ff; */
    overflow: hidden;

    padding: 0px 1rem;
    transition: max-height 0.3s ease;
}

.faqBck,
.faqContainer {
    background-color: hsl(192, 100%, 42%, 0.1);
    margin-top: 50px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 50px;
}
.faqBck {
    margin-bottom: 50px;
}
.answer.open {
    max-height: 1000px; /* Adjust the value as needed */
}

.answerText {
    color: black;
}

@media (max-width: 800px) {
    .faqItem {
        width: 100%;
        font-size: 11px;
    }
    .faqBck,
    .faqContainer {
        padding: 20px;
    }
    .arrow {
        font-size: 14px;
        transition: transform 0.3s ease;
    }
    .faqBck p {
        text-align: center;
    }
}
