.checkoutWrapper {
  display: flex;
  background: linear-gradient(90deg, #fff 50%,  var(--light-main) 50%);
}
form {
  padding: 60px 30px 0px 0px;
}
.lastSection {
  border-bottom: none !important;
}
.checkoutSummary {
  max-height: 100vh;
  min-height: 100vh;
  padding: 60px 0px 0px 30px;
}
.checkoutSummerProduct{
  border-bottom: 1px solid var(--border-color);

  padding-bottom: 20px;
  margin-bottom: 20px;
}
.checkoutSummerProduct>div {
  display: flex;
  width: 100%;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.borderBottom{
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.checkoutSummerProduct>div>div:first-child{
  margin-right: 20px;
}
.checkoutSummerProduct img {
  width: 150px;
  border: 1px solid var(--border-color);
}
.checkoutSummerProduct a{
  font-size: 13px;
  color: var(--main);
}
.checkoutSummerProduct svg{
  margin-left: 5px;
}
.price {
  color: var(--main);
}
.totalPrice{
  font-size: 25px;
}

.inputError{
  border: 1px solid indianred;
}
.checkoutWrapper form button{
  width: 100%;
  margin-top: 50px;
}
.discountText{
  font-size: 15px;
  padding-top: 10px;
  background-color: aquamarine;
  padding:5px;
  border-radius: 5px;
}
.discount span{
  background-color: aquamarine;
  padding:5px;
  border-radius: 5px;
}
.checkoutSummaryMobile>p{
  display: none;
}
.paymentMessageBody{
  width: 50%;
  padding:20px;
  margin: 70px auto;
  background-color: white;
  padding: 10px 0px 30px 0px;
  box-shadow: 0 0.125rem 0.25rem #00000020 !important;
  margin-bottom: 10px;
  border-radius: var(--radius-image);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  align-items: center;
}
.paymentWrapper{
  padding:50px 0px;
  min-height: 60vh;
}
.paymentLink{
  border: 1px solid var(--border-color);
  padding:10px;
  border-radius: 20px;
  width: fit-content;
}
.paymentLink{
  display: flex;
  flex-direction: column;
}
.link{
  padding:10px 30px;
  background-color: var(--main);
  color: var(--white);
  text-align: center;
  margin:20px 0px;
}
@media (max-width: 1200px) {
  
  .flex{
    flex-direction: column;
    align-items: baseline;
  }

  .checkoutSummaryMobile>p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-main);
    padding:10px;
    border: 1px solid var(--main);
    border-radius: var(--radius-image);
    margin-top: 25px;
  }
  .checkoutSummerProduct img{
    border: 1px solid var(--main);

  }
  .checkoutWrapper{
    background:none;
  }
  form,
  .mobileSummary{
    padding: 0px;
    max-height: fit-content;
    min-height: fit-content;
  }
  .checkoutSummary{
    /* display: none; */
    border-radius: var(--radius-image);
    background-color: var(--light-main);
    border: 1px solid var(--main);
    display: none;
    padding:20px;

  }
  .checkoutSummerProduct{
    transition: 0.5s;
    flex-direction: column;
  }
  .checkout{
    display:flex;
    flex-direction: column-reverse;
  }
}
